<?xml version="1.0" encoding="UTF-8"?>
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://pg:5432/studs</property>
        <property name="hibernate.connection.username">*******</property>
        <property name="hibernate.connection.password">*********</property>

        <mapping class="org.example.lab1.entities.User"/>
        <mapping class="org.example.lab1.entities.LabWork"/>
        <mapping class="org.example.lab1.entities.Coordinates"/>
        <mapping class="org.example.lab1.entities.Discipline"/>
        <mapping class="org.example.lab1.entities.Person"/>
        <mapping class="org.example.lab1.entities.Location"/>
        <mapping class="org.example.lab1.entities.ToRoleAdmin"/>
        <mapping class="org.example.lab1.entities.HistoryLabWorks"/>
        <mapping class="org.example.lab1.entities.HistoryCoordinates"/>
        <mapping class="org.example.lab1.entities.HistoryDiscipline"/>
        <mapping class="org.example.lab1.entities.HistoryPerson"/>
        <mapping class="org.example.lab1.entities.HistoryLocation"/>

    </session-factory>
</hibernate-configuration>
